<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension-point id="listeners" name="Extension Unicode Convert" schema="schema/listeners.exsd"/>
	<extension-point id="hyperlinkdetectors" name="Extension Hyperlink Detector" schema="schema/hyperlinkdetectors.exsd"/>

	<!-- Extensions -->
	<!-- properties editor -->
	<extension
		   point="org.eclipse.ui.editors">
		<editor
				icon="icons/IconByTaroTw.png"
				class="jp.gr.java_conf.ussiy.app.propedit.eclipse.plugin.editors.PropertiesEditor"
				default="true"
				name="PropertiesEditor"
				id="jp.gr.java_conf.ussiy.app.propedit.editors.PropertiesEditor"
				contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
				extensions="properties">
		</editor>
	</extension>

	<!-- preference page -->
	<extension point="org.eclipse.ui.preferencePages">
		<page
				name="%propertiesEditorPreferencePageName"
				class="jp.gr.java_conf.ussiy.app.propedit.eclipse.plugin.preference.PropertiesPreference"
				id="jp.gr.java_conf.ussiy.app.propedit.preference.PropertiesPreference"/>
		<page
				class="jp.gr.java_conf.ussiy.app.propedit.eclipse.plugin.preference.PropertiesEditorPreference"
				category="jp.gr.java_conf.ussiy.app.propedit.preference.PropertiesPreference"
				name="%editorPreferencePageName"
				id="jp.gr.java_conf.ussiy.app.propedit.preference.PropertiesEditorPreference"/>
		<page
				class="jp.gr.java_conf.ussiy.app.propedit.eclipse.plugin.preference.PropertiesEditorDuplicationCheckerPreference"
				category="jp.gr.java_conf.ussiy.app.propedit.preference.PropertiesPreference"
				name="%checkDuplicationPreferencePageName"
				id="jp.gr.java_conf.ussiy.app.propedit.preference.PropertiesEditorDuplicationCheckerPreference"/>
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		   <initializer class="jp.gr.java_conf.ussiy.app.propedit.eclipse.plugin.preference.PreferenceInitializer"/>
	</extension>
	
	<!-- property page -->
	<extension point="org.eclipse.ui.propertyPages">
		<page
				name="%propertiesEditorPreferencePageName"
				class="jp.gr.java_conf.ussiy.app.propedit.eclipse.plugin.property.PropertiesProperty"
				id="jp.gr.java_conf.ussiy.app.propedit.property.PropertiesProperty">
			<enabledWhen>
				<or>
					<instanceof value="org.eclipse.core.resources.IProject"/>
					<instanceof value="org.eclipse.jdt.core.IJavaProject"/>
				</or>
			</enabledWhen>
		</page>
	</extension>

	<!-- command handlers -->
	<extension point="org.eclipse.ui.handlers">
		<handler
				commandId="jp.gr.java_conf.ussiy.app.propedit.togglecomment.command"
				class="jp.gr.java_conf.ussiy.app.propedit.eclipse.plugin.action.ToggleCommentAction">
			<activeWhen>
				<with variable="activeEditorId">
					<equals value="jp.gr.java_conf.ussiy.app.propedit.editors.PropertiesEditor"/>
				</with>
			</activeWhen>
		</handler>
		<handler
				commandId="jp.gr.java_conf.ussiy.app.propedit.expandall.command"
				class="jp.gr.java_conf.ussiy.app.propedit.eclipse.plugin.action.ExpandAllFoldingAction">
			<activeWhen>
				<with variable="activeEditorId">
					<equals value="jp.gr.java_conf.ussiy.app.propedit.editors.PropertiesEditor"/>
				</with>
			</activeWhen>
		</handler>
		<handler
				commandId="jp.gr.java_conf.ussiy.app.propedit.collapseall.command"
				class="jp.gr.java_conf.ussiy.app.propedit.eclipse.plugin.action.CollapseAllFoldingAction">
			<activeWhen>
				<with variable="activeEditorId">
					<equals value="jp.gr.java_conf.ussiy.app.propedit.editors.PropertiesEditor"/>
				</with>
			</activeWhen>
		</handler>
		<handler
				commandId="jp.gr.java_conf.ussiy.app.propedit.showunicode.command"
				class="jp.gr.java_conf.ussiy.app.propedit.eclipse.plugin.action.ShowUnicodeEscAction">
			<activeWhen>
				<with variable="activeEditorId">
					<equals value="jp.gr.java_conf.ussiy.app.propedit.editors.PropertiesEditor"/>
				</with>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.contexts">
		<context
			name="%contextLabel"
			description="%contextDescription"
			parentId="org.eclipse.ui.textEditorScope"
			id="jp.gr.java_conf.ussiy.app.propedit.PropertiesEditorScope">
		</context>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<category
				name="%commandCategory"
				id="jp.gr.java_conf.ussiy.app.propedit.category"/>
		<command
				categoryId="jp.gr.java_conf.ussiy.app.propedit.category"
				name="%toggleCommentCommandLabel"
				id="jp.gr.java_conf.ussiy.app.propedit.togglecomment.command"/>
		<command
				categoryId="jp.gr.java_conf.ussiy.app.propedit.category"
				name="%collapseAllCommandLabel"
				id="jp.gr.java_conf.ussiy.app.propedit.collapseall.command"/>
		<command
				categoryId="jp.gr.java_conf.ussiy.app.propedit.category"
				name="%expandAllCommandLabel"
				id="jp.gr.java_conf.ussiy.app.propedit.expandall.command"/>
		<command
				categoryId="jp.gr.java_conf.ussiy.app.propedit.category"
				name="%showUnicodeEscCommandLabel"
				id="jp.gr.java_conf.ussiy.app.propedit.showunicode.command"/>
	</extension>
	<!-- context menu contributions (replaces org.eclipse.ui.popupMenus) -->
	<extension point="org.eclipse.ui.menus">
		<menuContribution
				locationURI="popup:#PropertiesEditorContext?after=additions">
			<command
					commandId="jp.gr.java_conf.ussiy.app.propedit.togglecomment.command"
					icon="icons/IconByTaroTw.png"
					label="%toggleCommentActionLabel"/>
			<command
					commandId="jp.gr.java_conf.ussiy.app.propedit.expandall.command"
					icon="icons/IconByTaroTw.png"
					label="%expandAllActionLabel"/>
			<command
					commandId="jp.gr.java_conf.ussiy.app.propedit.collapseall.command"
					icon="icons/IconByTaroTw.png"
					label="%collapseAllActionLabel"/>
			<command
					commandId="jp.gr.java_conf.ussiy.app.propedit.showunicode.command"
					icon="icons/IconByTaroTw.png"
					label="%showUnicodeEscActionLabel"/>
		</menuContribution>
		<!-- editor menu bar contributions (replaces org.eclipse.ui.editorActions) -->
		<menuContribution
				locationURI="menu:edit?after=additions">
			<command
					commandId="jp.gr.java_conf.ussiy.app.propedit.togglecomment.command"
					icon="icons/IconByTaroTw.png"
					label="%toggleCommentActionLabel">
				<visibleWhen checkEnabled="false">
					<with variable="activeEditorId">
						<equals value="jp.gr.java_conf.ussiy.app.propedit.editors.PropertiesEditor"/>
					</with>
				</visibleWhen>
			</command>
			<command
					commandId="jp.gr.java_conf.ussiy.app.propedit.expandall.command"
					icon="icons/IconByTaroTw.png"
					label="%expandAllActionLabel">
				<visibleWhen checkEnabled="false">
					<with variable="activeEditorId">
						<equals value="jp.gr.java_conf.ussiy.app.propedit.editors.PropertiesEditor"/>
					</with>
				</visibleWhen>
			</command>
			<command
					commandId="jp.gr.java_conf.ussiy.app.propedit.collapseall.command"
					icon="icons/IconByTaroTw.png"
					label="%collapseAllActionLabel">
				<visibleWhen checkEnabled="false">
					<with variable="activeEditorId">
						<equals value="jp.gr.java_conf.ussiy.app.propedit.editors.PropertiesEditor"/>
					</with>
				</visibleWhen>
			</command>
			<command
					commandId="jp.gr.java_conf.ussiy.app.propedit.showunicode.command"
					icon="icons/IconByTaroTw.png"
					label="%showUnicodeEscActionLabel">
				<visibleWhen checkEnabled="false">
					<with variable="activeEditorId">
						<equals value="jp.gr.java_conf.ussiy.app.propedit.editors.PropertiesEditor"/>
					</with>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>

	<!-- duplication checklistener & duplication marker -->
	<extension point="jp.gr.java_conf.ussiy.app.propedit.listeners">
		<listener class="jp.gr.java_conf.ussiy.app.propedit.eclipse.plugin.listener.DuplicationKeyCheckListener"/>
	</extension>
	<extension
			id="duplicationmarker"
			name="%duplicationMarkerLabel"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.core.resources.problemmarker"/>
		<super type="org.eclipse.core.resources.textmarker"/>
		<persistent value="true"/>
	</extension>

	<!-- key bindings -->
	<extension
			point="org.eclipse.ui.bindings">
		<key
				commandId="jp.gr.java_conf.ussiy.app.propedit.togglecomment.command"
				contextId="jp.gr.java_conf.ussiy.app.propedit.PropertiesEditorScope"
				schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
				sequence="Ctrl+/"/>
		<key
				commandId="jp.gr.java_conf.ussiy.app.propedit.showunicode.command"
				contextId="jp.gr.java_conf.ussiy.app.propedit.PropertiesEditorScope"
				schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
				sequence="Ctrl+I"/>
	</extension>
	<extension
			id="jp.gr.java_conf.ussiy.app.propedit.propertiesCompletionProposalComputer"
			point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
			name="%proposalName">
		<javaCompletionProposalComputer
				activate="true"
				categoryId="jp.gr.java_conf.ussiy.app.propedit.eclipse.plugin.jdt.proposal.Category"
				class="jp.gr.java_conf.ussiy.app.propedit.eclipse.plugin.jdt.proposal.PropertiesCompletionProposalComputer">
			<partition type="__java_string"/>
		</javaCompletionProposalComputer>
		<proposalCategory icon="icons/pe_32.png"/>
	</extension>
	<extension
			point="org.eclipse.core.contenttype.contentTypes">
		<content-type
				id="jp.gr.java_conf.ussiy.app.propedit.properties.conent.type"
				name="Properties File"
				base-type="org.eclipse.core.runtime.text"
				file-extensions="properties"
				priority="high"
				default-charset=""/>
	</extension>
	<extension
			point="org.eclipse.ui.newWizards">
		<wizard
				id="jp.gr.java_conf.ussiy.app.propedit.newwizard"
				name="%wizardName"
				class="jp.gr.java_conf.ussiy.app.propedit.eclipse.plugin.wizard.BasicNewPropertiesFileWizard"
				category="org.eclipse.jdt.ui.java"
				icon="icons/pe_32.png"
				project="false"/>
	</extension>
	<extension
			point="org.eclipse.jdt.ui.javaEditorTextHovers">
		<hover
				id="jp.gr.java_conf.ussiy.app.propedit.hover"
				class="jp.gr.java_conf.ussiy.app.propedit.eclipse.plugin.jdt.hover.PropertiesHover"
				label="%hoverLabel"
				description="%hoverDescription"
				activate="true"/>
	</extension>
	<extension
			point="org.eclipse.ui.startup">
		<startup class="jp.gr.java_conf.ussiy.app.propedit.eclipse.plugin.startup.Startup"/>
	</extension>

</plugin>
